
.icon-mail:before { content: '\e800'; } /* '' */
.icon-heart-filled:before { content: '\e801'; } /* '' */
.icon-gplus:before { content: '\f05a'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-user-o:before { content: '\f2c0'; } /* '' */
.icon-linkedin:before { content: '\f318'; } /* '' */